<div class="landing-page">
       
    <div class="p-3 header-section mb-5" id="top">
        <div class="theme-container">
            <div fxLayout="row wrap" class="content">
                <div fxFlex="100" class="mb-5 py-3"> 
                </div>
                <div fxFlex="100" class="py-5"> 
                    <h1>Next Level Real Estate</h1>
                    <div class="py-5 mb-5">
                        <a mat-raised-button color="primary" class="uppercase mx-2" target="_blank" href="http://phpstack-513607-1630558.cloudwaysapps.com/blogs-wp/wp-login.php?loggedout=true&wp_lang=en_US" >Wordpress Site</a>
                        <a mat-raised-button color="accent" href="http://themeseason.com/" target="_blank" class="uppercase mx-2">Next Level Real Estate</a> 
                        <a mat-raised-button color="warn" href="http://phpstack-513607-1630558.cloudwaysapps.com/bgrealstate/public/admin/login" target="_blank" class="uppercase mx-2">Admin Panel</a> 

                    </div>
                </div>
            </div>
        </div>
    </div> 
  
     

</div>
