.landing-page{ 
    .header-section{ 
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
        background-image: url('../../../assets/images/props/office-2/1-big.jpg');       
            content: '';        
            position:absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            width: 100%;
            height: 100%; 
        .content{
            position: relative;
            z-index: 9;
            color: #000000;            
            text-align: center;
            margin-top: 5%;
            h1{
                font-size: 36px;
                font-weight: 400;
            }
            h4{
                font-size: 16px;
                font-weight: 300;
                max-width: 700px;
                margin: 0 auto;
            }
        }  
    }
    
    p{
        font-size: 16px;
    }
    .copyright{
        margin-top: 36px;
        height: 64px;
        p{
            font-size: 13px;
            font-weight: 400;
            margin-bottom: 0;
            line-height: 1.2;
        }
    }
}