@import "../theme/styles/variables";

.sidenav{
    position: fixed;
    z-index: 999999;
    width: $main-sidenav-width;
    padding: 8px 16px;
    bottom: 0;
    top: 0;
    .close{
        margin-left: 178px;
    }
    .divider{
        margin: 8px 0;
    }
    .vertical-menu-wrapper{
        height: calc(100% - 122px);
    }
}

.options{
    position: fixed;
    width: 270px;
    z-index: 999999;
    .op-header{
        height: 64px;
        padding: 0 14px;
    }
    .control{
        padding: 6px 14px;
        div{
            padding: 6px 0;
        }
        h4{
            border-bottom: 1px solid #ccc;
            margin: 12px 0 6px 0;
        }        
        .skin-primary{
            width: 24px;
            height: 24px;
            padding: 0;
            overflow: hidden;            
            cursor: pointer;  
            .skin-secondary{
                width: 0; 
                height: 0; 
                padding: 0;
                border-bottom: 24px solid; 
                border-left: 24px solid transparent;
            }
            &.blue{
                background-color: #1976d2;
                border: 1px solid #1976d2;
            }
            &.green{
                background-color: #689f38;
                border: 1px solid #689f38;
            }
            &.red{
                background-color: #d32f2f;
                border: 1px solid #d32f2f;
            }
            &.pink{
                background-color: #c2185b;
                border: 1px solid #c2185b;
            }
            &.purple{
                background-color: #7b1fa2;
                border: 1px solid #7b1fa2;
            }
            &.grey{
                background-color: #455a64;
                border: 1px solid #455a64;
            }
            &.orange-dark{
                background-color: #f4511e;
                border: 1px solid #f4511e;
                .skin-secondary{
                    border-bottom-color: #303030;
                }
            }
        }
    }
    .mat-radio-group{
        display: inline-flex;
        flex-direction: column;
        .mat-radio-button{
            margin: 2px 0;
        }
    }
    .mat-slide-toggle{
        height: auto;
    }
    .ps{
      height: calc(100% - 64px);
    }
}
.op-image{
    box-shadow: 0 0 2px #ccc;
    border: 2px solid;
    border-color: transparent;
    cursor: pointer;
    transition: 0.2s;
}
.options-icon{
    position: fixed;
    top: 200px;
    right: 0;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,.7);
    color: #fff;
    cursor: pointer;
    z-index: 99999;
    .mat-icon{
        -webkit-animation: spin 8s linear infinite;
        -moz-animation: spin 8s linear infinite;
        animation: spin 8s linear infinite;
    }
}

@-moz-keyframes spin { 
    100% { 
        -moz-transform: rotate(360deg); 
    } 
}
@-webkit-keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
    } 
}
@keyframes spin { 
    100% { 
        transform: rotate(360deg);
    }
}

.back-to-top{
    position: fixed;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 999999;
    right: 20px;
    bottom: 20px;
    opacity: .5;
    color: #fff;
    background-color: rgba(0,0,0,.75);
    border-radius: 50%;
    transition: 0.3s;    
    &:hover{
        opacity: 0.9;
    }    
}

.chat-with-us{
    position: fixed;
    width: 150px;
    cursor: pointer;
    z-index: 999999;
    left: 20px;
    bottom: 20px;
    color: green;
    border-radius: 20px !important; 
    display: flex;
    align-items: center;
    justify-content: center; 
      
}


.secondToolbar {
    position: fixed;
    background: #eee;
    bottom: 0;
    height: 0;
    // width: 100%; 
    opacity: 0;
    transition: opacity .25s ease-out, height .15s ease;
    cursor: default;
    // user-select: none;
    z-index: 999;
    

  }

  .top-nav-header {
    position: fixed;
    background: #eee;
    top: 0;
    height: 0;
    // width: 100%; 
    opacity: 0;
    transition: opacity .25s ease-out, height .15s ease;
    cursor: default;
    // user-select: none;
    z-index: 999;
    

  }

  @media (min-width:320px)  { 
    .class-name{
        height: 8%;
        opacity: 1;
        transition: opacity .25s ease-out, height .15s ease;  
    }
    .top-nav-header-height{
        height: 4%;
        opacity: 1;
        transition: opacity .25s ease-out, height .15s ease;  
    }
}

@media (min-width:641px)  { 
    .class-name{
        height: 8%;
        opacity: 1;
        transition: opacity .25s ease-out, height .15s ease;  
    }
 }

 .round-btn-whatsapp{
    border-radius: 20px !important;
    margin: 3px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

  .round-btn{
    border-radius: 20px !important;
    margin: 2px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
 }


 
