<app-header-image [backgroundImage]="'assets/images/carousel/slide-3.jpg'" 
                  [bgImageAnimate]="false" 
                  [contentOffsetToTop]="false" 
                  [desc]="'“Home is where one starts from...” –T.S. Eliot'"
                  [contentMinHeight]="200">
</app-header-image>
 
<div class="px-3"> 
    
  <div class="theme-container">  

    <mat-sidenav-container class="all-properties mt-4"> 
    

      <mat-sidenav-content ngClass.gt-sm="distance"> 

        <div fxLayout="row wrap" class="properties-wrapper mt-0">            
            <div *ngFor="let builder of builders" [fxFlex]="(viewType=='grid') ? viewCol : 100"  class="item">    
                <app-builder-items [builder]="builder" [viewType]="viewType" [viewColChanged]="viewCol" [fullWidthPage]="false"></app-builder-items>
            </div>

            <div *ngIf="builders?.length == 0" fxFlex="100" fxLayoutAlign="center center" [style.min-height.px]="200">                
                <mat-spinner *ngIf="!message"></mat-spinner>
                <mat-chip-list *ngIf="message">
                    <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
                        {{message}}
                    </mat-chip> 
                </mat-chip-list> 
            </div>            

            <div *ngIf="builders?.length > 0" fxFlex="100" fxLayoutAlign="center center" class="p-2">
                <mat-paginator [length]="pagination?.total"
                              [pageSize]="pagination?.perPage"
                              (page)="onPageChange($event)"
                              class="w-100 mat-elevation-z1">
                </mat-paginator>
            </div>          
         
        </div>

        

      </mat-sidenav-content>
    </mat-sidenav-container>

  </div>

</div>



<app-clients></app-clients>

<app-get-in-touch></app-get-in-touch>