<mat-card  class="property-item p-2 " [ngClass]="[viewType + '-item', 'column-'+column]" [class.full-width-page]="fullWidthPage" fxLayout="row wrap" [routerLink]="['/areas/' + area.id]">
        <div fxFlex="100" [fxFlex.gt-sm]="(viewType=='list') ? 60 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" >

            <div fxLayout="column" fxLayoutAlign="start stretch">
                <div class="font-weight-normal">
                    <h3 >
                        <p >Average Price <b>{{ area?.price > 0 ? area?.price : 0  }}</b> <sup> AED/Sqft</sup></p> 
                        <!-- <p *ngIf="property.priceDollar.rent">Average Price <b>{{property.priceDollar.rent }}</b> <sup> AED/month</sup></p>  -->
                    </h3>
                        
                </div>
    
            </div>
    
        </div>
  
        <div fxFlex="100" fxShrink="3" [fxFlex.gt-sm]="(viewType=='list') ? 40 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="thumbnail-section">
            <!-- <div *ngIf="property.image !== ''" class="mat-card-image w-100 m-0">
                <img [src]="property.image" class="swiper-lazy">
            </div>   -->
                <div  class="mat-card-image w-100 m-0">
                    <div class="swiper-container" >
                        <div class="swiper-wrapper"> 
                            <div class="swiper-slide" >
                                <img class="" [src]="area.image" class="swiper-lazy">
                            </div> 
                        </div>  
                        <div class="swiper-pagination white"></div>  
                    </div>
                </div> 
        </div>


        <div fxFlex="100" [fxFlex.gt-sm]="(viewType=='list') ? 60 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="">
            <div fxLayout="row" fxLayoutAlign="start start" class="h-100 ">
                <div fxLayout="column" fxFlex="95%" fxLayoutAlign="start start">
                    <mat-card-content >
                        <h6 class="title no-wrap"><a class="no-wrap" [routerLink]="['/areas/', area.id]">{{area.name}}</a></h6>
                        <p class="address no-wrap">
                            <span>{{area.description ? area.description : '-'}}</span>
                        </p>
                </mat-card-content>
                   
                </div> 
                <span *ngIf="app.componentName != 'AreasComponent'" >
                    <mat-icon  class="circle-icon mt-5" color="warn">keyboard_arrow_right
                    </mat-icon> 
                </span> 
                <div *ngIf="app.componentName == 'AreasComponent'" class="project-count" fxLayoutAlign="center center">
                    {{area.projectsCount}}
                </div>
               
    
            </div>
           
            
        </div> 
 

</mat-card>