<div *ngIf="plans" class="properties-carousel">   
    <div class="swiper-container h-100 carousel-outer" [swiper]="config"> 
        <div class="swiper-wrapper h-100">        
            <div *ngFor="let property of plans.gallery" class="swiper-slide">
                <!-- <app-property-item [property]="property" [viewType]="'grid'"></app-property-item>                  -->
                <mat-card class="property-item p-0 card-height" [ngClass]="['grid' + '-item', 'column-'+column]" [class.full-width-page]="fullWidthPage" fxLayout="row wrap" [routerLink]="['/properties/' + property.id]">  
                    <div fxFlex="100" fxShrink="3" [fxFlex.gt-sm]="(viewType=='list') ? 40 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="thumbnail-section">
                
                      
                       
                        <!-- <div *ngIf="property.image !== ''" class="mat-card-image w-100 m-0">
                            <img [src]="property.image" class="swiper-lazy">
                        </div>   -->
                        <div class="mat-card-image w-100 m-0">
                            <div class="swiper-container" [swiper]="config">
                                <div class="swiper-wrapper"> 
                                    <div class="swiper-slide">
                                        <img class="" [src]="property.image" class="swiper-lazy">
                                    </div> 
                                </div>  
                                <div class="swiper-pagination white"></div>  
                                <!-- <button mat-icon-button class="swiper-button-prev swipe-arrow"><mat-icon class="mat-icon-lg">keyboard_arrow_left</mat-icon></button>
                                <button mat-icon-button class="swiper-button-next swipe-arrow"><mat-icon class="mat-icon-lg">keyboard_arrow_right</mat-icon></button> -->
                            </div>
                        </div> 
                
                       
                
                    </div>
                    
                
                </mat-card> 
            </div>
        </div>                      
        <button mat-mini-fab color="primary" class="prop-prev swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <button mat-mini-fab color="primary" class="prop-next swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button> 
    </div>
</div>