<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">

            <div fxLayout="row wrap" class="services-wrapper">
                <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" class="p-2">

                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center">
                        <mat-icon class="mat-icon-xlg" color="primary">{{image}}</mat-icon>
                        <h2 class="capitalize fw-600 my-3">{{title}}</h2>
                        <p>{{subtitle}}</p>
                    </mat-card>

                </div>

            </div>

        </div>
    </div>
</div>