
.outer {
    margin: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .outer__button { 
    padding: .5em 1.5em;
    font-size: 2em;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin-top: -1em;
  }
  
  /* LEFT TO RIGHT */
  .button__left-right {
    border: 2px solid black;
    background: linear-gradient(to right, #000 50%, #3a3631 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    transition: all .7s ease-out;
    overflow: hidden;
  }
  
  .button__left-right:hover {
    background-position: bottom left;
    color: #fff;
  }

  .round-btn{
    border-radius: 20px !important;
    background-color: red;
    width: 10.0rem;
    padding: 2px;
    align-self: center;
 }


 .contact-info{
     background-color: #312d2a!important;
     color: white;
 }

 
.text-dark{
  text-align: center;
}
.footer {
  position: relative;
  overflow: hidden;
  background: rgba(33, 33, 33, 0.93);
  color: #fff;
  &:before {
      content: '';
      position: absolute;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-image: url('/src/assets/images/others/homepage.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }
  .content {
      border-width: 0px 0px 1px 0px;
      border-style: solid;
      .logo img {
          fill: #fff;
      }
      .desc {
          color: rgba(255, 255, 255, 0.7);
      }
      .custom-form {
          .mat-form-field-appearance-outline .mat-form-field-outline {
              color: rgba(255, 255, 255, 0.3);
          }
          .mat-form-field-appearance-outline .mat-form-field-outline-thick {
              color: white;
          }
          .mat-form-field-label {
              color: rgba(255, 255, 255, 0.7);
          }
          .subscribe-input {
              .mat-form-field-wrapper {
                  padding: 0;
                  margin: 0;
              }
              .mat-form-field-infix {
                  top: -4px;
              }
              .mat-input-element {
                  &::placeholder {
                      color: rgba(255, 255, 255, 0.7);
                  }
                  &::-moz-placeholder {
                      color: rgba(255, 255, 255, 0.7);
                  }
                  &::-webkit-input-placeholder {
                      color: rgba(255, 255, 255, 0.7);
                  }
                  &:-ms-input-placeholder {
                      color: rgba(255, 255, 255, 0.7);
                  }
              }
          }
          .subscribe-btn {
              margin-left: -4px;
              border-radius: 0 4px 4px 0;
              text-transform: uppercase;
          }
      }
      .sebm-google-map-container {
          height: 308px;
      }
  }
  .copyright {
      color: rgba(255, 255, 255, 0.7);
      font-size: 12px;
      p {
          margin: 0;
      }
  }
}