
<footer>
    <div class="px-3" >
        <div class="theme-container">
           
            <div class="mt-5" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center" fxLayoutAlign="center center" fxLayout="column" > 
                <h1  >Stay Informed</h1>
                <button mat-raised-button color="primary" class="round-btn mt-2"><mat-icon>call</mat-icon>Subscribe</button>
            </div>
            <div class=" content mt-5" >
                    <div fxLayout="row wrap" class="mt-3" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center start" fxLayoutAlign.sm="center start" fxLayoutAlign.xs="center start" >
                        <div fxLayout="column" fxFlex="20"  *ngIf="columns" >
                            <h3>Dubai Properties</h3>
                            <div *ngFor="let item of columns?.properties" >
                                <p [routerLink]="[item.url]">{{item.title}}</p> 
                            </div>
                        </div>
                        <div fxLayout="column" fxFlex="20" *ngIf="columns">
                            <h3>Dubai Properties for Sale
                            </h3>
                            <div *ngFor="let item of columns?.propForSale" >
                                <p (click)="route(item.url)">{{item.title}}</p> 
                            </div>
                        </div>
                        <div fxLayout="column" fxFlex="20"  *ngIf="columns">
                            <h3>Dubai Properties for Rent
                            </h3>
                            <div *ngFor="let item of columns?.propertiesForRent">
                                <p (click)="route(item.url)" [routerLink]="[item.url]">{{item.title}}</p> 
                            </div>
                        </div>
                        <!-- <div fxLayout="column" fxFlex="20" ngClass.sm="text-center" ngClass.xs="text-center" *ngIf="columns">
                            <h3>Off Plan Property Dubai
                            </h3>
                            <div *ngFor="let item of columns?.offPlan" >
                                <p routerLink="/ + {{item.routerLink}}">{{item.title}}</p> 
                            </div>
                        </div>
                        <div fxLayout="column" fxFlex="20" ngClass.sm="text-center" ngClass.xs="text-center" *ngIf="columns">
                            <h3>
                            Dubai Living Experiences
                            </h3>

                            <div *ngFor="let item of columns?.livingExperience">
                                <p routerLink="/ + {{item.routerLink}}">{{item.title}}</p> 
                            </div>
                        </div>
                        <div fxLayout="column" fxFlex="20" ngClass.sm="text-center" ngClass.xs="text-center" *ngIf="columns">
                            <h3>Beachfront & Waterfront Properties
                            </h3>
                            <div *ngFor="let item of columns.beachfrontProperties">
                                <p [routerLink]="item.routerLink">{{item.title}}</p> 
                            </div>
                        </div>
                        <div fxLayout="column" fxFlex="20" ngClass.sm="text-center" ngClass.xs="text-center" *ngIf="columns">
                            <h3>Projects In Dubai
                            </h3>
                            <div *ngFor="let item of columns.projects">
                                <p [routerLink]="item.routerLink">{{item.routerLink}}</p> 
                            </div>
                        </div> -->

                    </div>
            </div>
                <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column"  class="mt-3"  > 
                    <div fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%"  class=" mt-3 text-center"
                     fxLayoutAlign="center center" ngClass.xs="text-dark" fxLayoutAlign.sm="center center"
                      fxLayoutAlign.xs="center center"  fxLayout="column" > 
                      <div *ngFor="let item of company">
                        <h3>Telephone</h3>
                        <h2 class="mx-2" >  {{item.phone_num}}</h2>
                        <h3>Email</h3>
                        <h4 class="mx-2" >  {{item.email}}</h4>
                        <h3>Address</h3>
                        <h5 class="mx-2 " >  {{item.address}}</h5> 
                      </div>
                        
                    </div>
                    
                    
                </div> 
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="copyright mt-3">
                <p ngClass.xs="mt-1">Copyright © 2019 All Rights Reserved</p>
                 <!-- <p>Designed & Developed by <a mat-button href="http://themeseason.com/" target="_blank">ThemeSeason</a></p>  -->
            </div> 

        </div>
    </div> 
</footer>
       
                 
                