<div class="section bg-img">
    <div class="px-3">
        <h1 routerLink="/blogs" class="text-center">Blogs</h1>
        <div class="theme-container">
            <div fxFlex="55" fxFlex.xs="0" fxFlex.sm="0" fxShow.sm="false" fxShow.xs="false"></div>
            <div fxFlex="45" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column">
                <div fxLayoutAlign="start start" class="text-inside-grid">
                    <div class="mt-2 mb-4" fxLayout="column">
                        <mat-card class="example-card mt-4" *ngFor="let item of blogs" [routerLink]="['/blogs/list/' + item.ID]">
                            <h3>{{ item.title }}</h3>

                            <mat-card-content>
                                <div fxLayout="row" class="container">
                                    <mat-icon class="circle-icon" color="warn">keyboard_arrow_right</mat-icon>
                                    <span>
                    By
                    <span color="primary ">
                      <b class="upper-case">{{ item.company }}</b>
                    </span> on {{ getDay(item.created_at) }}.
                                    </span>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <div fxLayout="row" fxLayoutAlign="start start">
                                    <div fxFlex="90%">
                                        <button mat-raised-button color="primary" class="round-btn">
                      Read more&nbsp; <mat-icon>arrow_right_alt </mat-icon>
                    </button>
                                    </div>
                                    <div fxFlex="10%" class="container mt-2">
                                        <mat-icon class="align-icon-text">visibility </mat-icon>
                                        <span class="mt-1"> {{ item.views }} </span>
                                    </div>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
            <!--   <mat-grid-list [cols]="breakpoint"  (window:resize)="onResize($event)">
                <mat-grid-tile fxFlex="0"></mat-grid-tile>
                <mat-grid-tile>
    
                   
                </mat-grid-tile>
            </mat-grid-list> -->
        </div>
        <div class="theme-container">
            <div fxLayout="row" class="mt-3" fxLayoutAlign="end">
                <button mat-raised-button color="warn" fxShow.sm="false" fxShow.xs="false" class="round-btn mb-2 mr-5" routerLink="/blogs">
          View All Posts &nbsp; <mat-icon>arrow_right_alt </mat-icon>
        </button>
                <button mat-raised-button color="warn" fxShow="false" fxShow.sm="true" fxShow.xs="true" class="round-btn" routerLink="/blogs">
          View Posts<mat-icon>arrow_right_alt </mat-icon>
        </button>
            </div>
        </div>
    </div>
</div>