.example-card {
    max-width: 700px;
    width: 500px;
}

@media (max-width: 600px) {
    .example-card {
        width: 17rem;
    }
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.container {
    max-width: 600px;
    &__image {
        width: 250px;
        margin: 30px 30px 30px 0;
        float: left;
    }
    &__text {
        display: inline;
    }
}

.round-btn {
    border-radius: 20px !important;
    margin: 2px;
    display: flex;
    justify-content: center;
    font-size: small;
}

.align-icon-text {
    display: inline-flex;
    vertical-align: middle;
}

.bg-light {}

.upper-case {
    text-transform: capitalize;
}

.bg-img {
    background-image: url('/frontend/assets/images/others/building-soft.jpeg');
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    display: block;
}