  <span fxLayoutAlign="center center" class="item">
    <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">call</mat-icon>
    <span *ngIf="headerData" class="px-1">{{ headerData.phone_number  }}</span>
  </span>
  <span *ngIf="dividers" class="v-divider"></span>
  <span fxLayoutAlign="center center" class="item">
    <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">location_on</mat-icon>
    <span *ngIf="headerData" class="px-1">{{ headerData.address }}</span>
  </span>
  <span *ngIf="dividers" class="v-divider"></span>
  <span fxLayoutAlign="center center" class="item">
    <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">mail</mat-icon>
    <span *ngIf="headerData" class="px-1">{{ headerData.email }}</span>
  </span>
  
