<div class="section" *ngIf="blog">
    <div class="px-3">
        <div class="theme-container">
            <div fxLayout="row"  fxLayoutAlign="center start">
                <h1 class="mb-5">{{blog.title}}</h1>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-card class="example-card " >
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image" ></div>
                      <mat-card-title>{{blog.title}}</mat-card-title>
                      <mat-card-subtitle>
                        <div fxLayout="row" class="container">
                        <mat-icon class="circle-icon" color="warn">account_box</mat-icon> 
                        <span class="capitalize">  {{blog.company}} 
                            </span> &nbsp;&nbsp;
                        <mat-icon class="circle-icon" color="primary">calendar_today</mat-icon> 
                        <span class="capitalize">  {{ getDay( blog.created_at)}}</span>
                    </div>
                  </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content *ngIf="wpPosts" >
                      <div [innerHTML]="wpPosts.content?.rendered" ></div>  
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions> -->
                  </mat-card>
            </div>
        </div>
    </div>
</div>