.example-header-image {
    background-image: url('/assets/images/logos/logo-black.png');
    background-size: cover;

  }

  .center-card{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    max-width: 600px;
    &__image {
      width: 250px;
      margin: 30px 30px 30px 0;
      float: left;
    }
    &__text {
      display: inline;
    }
  }

  .example-card{
      width: 82%;
      height: auto;
  }

  @media screen and (min-width: 576px) {
    .example-card{
      width: 100%;
      height: auto;
  }
 
}


img{
  width: 50px;
  height: 50px;
}

  