<mat-card class="property-item p-0 " [ngClass]="[viewType + '-item', 'column-'+column]" [class.full-width-page]="fullWidthPage" fxLayout="row wrap" [routerLink]="['/projects/' + project.id]">

    <div fxFlex="100" [fxFlex.gt-sm]="(viewType=='list') ? 60 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="p-3">

        <div fxLayout="column" fxLayoutAlign="start stretch" class="h-100">
            <mat-card-content class="mb-0">

                <h1 class="title"><a [routerLink]="['/projects']">{{project?.title}}</a></h1>

                <p fxLayout="row" class="address">
                    <mat-icon class="text-muted">location_on</mat-icon>
                    <span>{{project?.address ? project?.address : '-'}}</span>
                </p>



                <div *ngIf="viewType=='list' && fullWidthPage" fxShow="false" fxShow.gt-sm class="mt-3">
                    <p>{{project?.description}}</p>
                </div>



            </mat-card-content>

        </div>

    </div>
    <div fxFlex="100" fxShrink="3" [fxFlex.gt-sm]="(viewType=='list') ? 40 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="thumbnail-section">
        <!-- <div *ngIf="property.image !== ''" class="mat-card-image w-100 m-0">
            <img [src]="property.image" class="swiper-lazy">
        </div>   -->
        <div  class="mat-card-image w-100 m-0" *ngIf="projectGallery.length > 0; else singleImage">
            <div class="swiper-container" [swiper]="config">
                <div class="swiper-wrapper"> 
                    <div class="swiper-slide" *ngFor="let item of projectGallery">
                        <img class="" [src]="item.image" class="swiper-lazy">
                    </div> 
                </div>  
                <div class="swiper-pagination white"></div>  
                <button mat-icon-button class="swiper-button-prev swipe-arrow"><mat-icon class="mat-icon-lg">keyboard_arrow_left</mat-icon></button>
                <button mat-icon-button class="swiper-button-next swipe-arrow"><mat-icon class="mat-icon-lg">keyboard_arrow_right</mat-icon></button>
            </div>
        </div> 
        <ng-template #singleImage>
            <div  class="mat-card-image w-100 m-0">
                <div class="swiper-container" >
                    <div class="swiper-wrapper"> 
                        <div class="swiper-slide" >
                            <img class="" [src]="project?.image" class="swiper-lazy">
                        </div> 
                    </div>  
                    <div class="swiper-pagination white"></div>  
                </div>
            </div> 
        </ng-template>
        

       

    </div>
    <div fxFlex="100" [fxFlex.gt-sm]="(viewType=='list') ? 60 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="p-3">

        <div fxLayout="column" fxLayoutAlign="start stretch" class="h-100">

            <div class="sticky-footer-helper" fxFlex="grow"></div>
            <mat-card-actions class="m-0 p-0 mt-5" fxLayoutAlign="space-between center">
                <p fxLayout="row" class="date mb-0">
                    <mat-icon class="text-muted">date_range</mat-icon>
                    <span class="mx-2">{{project?.created_at | date:"dd MMMM, yyyy" }}</span>
                </p>
                <div>
                    <a mat-stroked-button color="primary" class="uppercase">Details</a>
                </div>
            </mat-card-actions>
        </div>

    </div>

</mat-card>