<div class="section">
  <div class="px-3">
    <div class="theme-container">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column">
          <span class="heading">Browse properties by Dubai areas </span>
        </div>
      </div>
      <div class="main">
        <mat-card
          fxLayout="row"
          fxLayoutAlign="center center"
          class="mt-2"
          fxLayout.sm="colum"
        >
        
          <div>
            <mat-chip-list color="primary">
              <mat-chip
                disableRipple="true"
                [routerLink]="['/areas/' + item.id]"
                *ngFor="let item of areas"
                class="uppercase ws-nowrap mr-2"
              >
                {{ item.name }}
              </mat-chip>
            </mat-chip-list>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
