.example-spacer {
  flex: 1 1 auto;
}

.container {
  padding: 5px;
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
  word-wrap: break-word;
}
i.material-icons {
  font-size: 16px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  color: gray;
  font-size: 22px;
}
.card-width {
  width: 75%;
  max-width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
