<div class="container-header " fxLayoutAlign="start center" >
    <mat-toolbar class="secondToolbar" fxLayout.xs="column" [ngClass]="{'mat-elevation-z5' : true, 'class-name' : isSticky}">
        <div class="theme-container">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center">
                <div>
                    <sub class="uppercase font-smaller" fxShow="false" *ngIf="property" fxShow.gt-xs ngClass.xs="text-center">{{propertyService.property?.title}}</sub>
                    <h2 *ngIf="settings.currency == 'AED '" class="primary-color ">
                        <span *ngIf="property?.price" fxShow="false" fxShow.gt-xs>AED {{property?.price }} </span>
                        <!-- <span *ngIf="property?.priceDollar.rent" fxShow="false" fxShow.gt-xs>AED {{property?.priceDollar.rent }} /month</span> -->

                    </h2>
                    <sub *ngIf="settings.currency == 'AED '" class="primary-color ">
                        <h6 *ngIf="property?.price && mobileView"  ngClass.xs="text-center"> 
                           <span class="aligned-with-icon"> <mat-icon class="align-icon-center">local_offer</mat-icon> AED {{property?.price }}</span>  </h6>
                        <!-- <h6 *ngIf="property?.price  && mobileView" ngClass.xs="text-center">
                            <span class="aligned-with-icon"> <mat-icon class="align-icon-center">local_offer</mat-icon> AED {{property?.priceDollar.rent }} /month</span>
                           </h6> -->
                    </sub>
                    <h2 *ngIf="settings.currency == 'EUR'" class="primary-color price">
                        <span *ngIf="property?.priceEuro.sale">{{property?.priceEuro.sale | currency : 'EUR' : 'symbol' : '1.0'}}</span>
                        <span *ngIf="property?.priceEuro.rent">{{property?.priceEuro.rent | currency : 'EUR' : 'symbol' : '1.0'}} /month</span>
                    </h2>
                </div>
                <div fxLayout="column" fxLayoutAlign.xs="start start">

                    <div class="example-button-row">
                        <button mat-raised-button class="btn" fxShow="false" fxShow.gt-xs color="primary">  <mat-icon>phone</mat-icon> WhatsApp</button>

                        <button mat-raised-button class="btn" fxShow="false" fxShow.gt-xs color="warn"><mat-icon>add_ic_call</mat-icon> Call</button>

                    </div>

                </div>
            </div>
        </div>
    </mat-toolbar>

</div>


<div class="px-3" >
    <div class="theme-container">
        <mat-sidenav-container class="single-property mt-3">
            <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" position="end" autoFocus="true" (openedChange)="onOpenedChange()">
                <button fxHide="false" fxHide.gt-sm="true" mat-mini-fab color="warn" class="close" (click)="sidenav.close()">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-card [perfectScrollbar]="psConfig" *ngIf="property?.agent; else noData">

                    <div class="widget" >
                        <mat-card *ngIf="property">
                            <img mat-card-image [src]="property?.agent?.agent_image" [alt]="property?.agent?.name">
                            <mat-card-content>
                                <h2 class="fw-600">Agent {{property?.agent?.name}}</h2>
                                <app-rating [ratingsCount]="property?.agent?.ratingsCount" [ratingsValue]="property?.agent?.ratingsCount"></app-rating>
                                <p class="mt-3">{{property?.agent?.description}}</p>
                                <p fxLayoutAlign="start center">
                                    <mat-icon color="primary" matTooltip="Organization" matTooltipPosition="above">business</mat-icon><span class="mx-2">{{property?.agent?.organization}}</span></p>
                                <p fxLayoutAlign="start center">
                                    <mat-icon color="primary">email</mat-icon><span class="mx-2">{{property?.agent?.email}}</span></p>
                                <p fxLayoutAlign="start center">
                                    <mat-icon color="primary">call</mat-icon><span class="mx-2">{{property?.agent?.phone}}</span></p>
                            </mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-card-actions fxLayoutAlign="space-between center">
                                <div fxLayout="row" fxLayoutAlign="start center" class="text-muted">
                                    <!-- [href]="'https://www.facebook.com/'+agent.social.facebook"  -->
                                    <a target="blank" class="social-icon">
                                        <svg class="mat-icon" viewBox="0 0 24 24">
                                        <path d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z" />
                                        </svg>
                                    </a>
                                    <!-- [href]="'https://twitter.com/'+agent.social.twitter" -->
                                    <a  target="blank" class="social-icon">
                                        <svg class="mat-icon" viewBox="0 0 24 24">
                                            <path d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M17.71,9.33C18.19,8.93 18.75,8.45 19,7.92C18.59,8.13 18.1,8.26 17.56,8.33C18.06,7.97 18.47,7.5 18.68,6.86C18.16,7.14 17.63,7.38 16.97,7.5C15.42,5.63 11.71,7.15 12.37,9.95C9.76,9.79 8.17,8.61 6.85,7.16C6.1,8.38 6.75,10.23 7.64,10.74C7.18,10.71 6.83,10.57 6.5,10.41C6.54,11.95 7.39,12.69 8.58,13.09C8.22,13.16 7.82,13.18 7.44,13.12C7.81,14.19 8.58,14.86 9.9,15C9,15.76 7.34,16.29 6,16.08C7.15,16.81 8.46,17.39 10.28,17.31C14.69,17.11 17.64,13.95 17.71,9.33Z" />
                                        </svg>
                                    </a>
                                    <!-- [href]="'https://www.linkedin.com/'+agent.social.linkedin" -->
                                    <a  target="blank" class="social-icon">
                                        <svg class="mat-icon" viewBox="0 0 24 24">
                                        <path d="M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19M18.5,18.5V13.2A3.26,3.26 0 0,0 15.24,9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,12.8 13.54,12.17 14.31,12.17A1.4,1.4 0 0,1 15.71,13.57V18.5H18.5M6.88,8.56A1.68,1.68 0 0,0 8.56,6.88C8.56,5.95 7.81,5.19 6.88,5.19A1.69,1.69 0 0,0 5.19,6.88C5.19,7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z" />
                                        </svg>
                                    </a>
                                    <!-- [href]="'https://instagram.com/'+agent.social.instagram" -->
                                    <a  target="blank" class="social-icon">
                                        <svg class="mat-icon" viewBox="0 0 24 24">
                                            <path d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                                        </svg>
                                    </a>
                                    <!-- [href]="agent.social.website"  -->
                                    <a target="blank" class="social-icon">
                                        <svg class="mat-icon" viewBox="0 0 24 24">
                                            <path d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z" />
                                        </svg>
                                    </a>
                                </div>
                                <div>
                                    <a [routerLink]="['/agents', property?.agent.id]" mat-button color="primary" class="uppercase">View Profile</a>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                   

                    <!-- <div class="widget">
                        <h3 class="widget-title bg-primary">Reply to the listing</h3>
                        <form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit(contactForm.value)">
                            <p>Interested in renting or buying this property? Then send us an email.</p>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Your Name" autocomplete="off" formControlName="name">
                                <mat-error *ngIf="contactForm.controls.name.errors?.required">Name is required</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>E-mail</mat-label>
                                <input matInput placeholder="Your Email" autocomplete="off" formControlName="email">
                                <mat-error *ngIf="contactForm.controls.email.errors?.required">Email is required</mat-error>
                                <mat-error *ngIf="contactForm.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Phone</mat-label>
                                <input matInput placeholder="Your Phone" autocomplete="off" formControlName="phone" type="number">
                                <mat-error *ngIf="contactForm.controls.phone.errors?.required">Phone is required</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Message</mat-label>
                                <textarea matInput placeholder="Your Message" formControlName="message" rows="6"></textarea>
                                <mat-error *ngIf="contactForm.controls.message.errors?.required">Message is required</mat-error>
                            </mat-form-field>
                            <div class="text-center">
                                <button mat-raised-button color="accent" type="submit">Send Email</button>
                            </div>
                        </form>
                    </div>

                    <div class="widget">
                        <h3 class="widget-title bg-primary">Mortgage Calculator</h3>
                        <form [formGroup]="mortgageForm" (ngSubmit)="onMortgageFormSubmit(mortgageForm.value)">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Principal Amount</mat-label>
                                <input matInput placeholder="AED " autocomplete="off" formControlName="principalAmount" type="number">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Down Payment</mat-label>
                                <input matInput placeholder="AED " autocomplete="off" formControlName="downPayment" type="number">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Interest Rate</mat-label>
                                <input matInput placeholder="%" autocomplete="off" formControlName="interestRate" type="number">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Period</mat-label>
                                <input matInput placeholder="Number of Years" autocomplete="off" formControlName="period" type="number">
                            </mat-form-field>
                            <p *ngIf="monthlyPayment">Monthly Payment: <span class="mx-2 fw-500">AED {{monthlyPayment}}</span></p>
                            <div class="text-center">
                                <button mat-raised-button color="accent" type="submit">Calculate Mortgage</button>
                            </div>
                        </form>
                    </div> -->

                    <!-- <div fxLayout="column" class="widget">
                        <h3 class="widget-title bg-primary">Featured Properties</h3>
                        <div *ngFor="let prop of featuredProperties" class="mb-3">
                            <app-property-item [property]="prop" [viewType]="'grid'"></app-property-item>
                        </div>
                    </div> -->

                </mat-card>
            </mat-sidenav>
            <mat-sidenav-content ngClass.gt-sm="distance">
                <mat-card fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
                    <div *ngIf="property">
                        <h2 class="uppercase" ngClass.xs="text-center">{{property?.title}}</h2>
                        <p fxLayout="row" fxLayoutAlign.xs="center" class="address mb-0">
                            <mat-icon class="text-muted">location_on</mat-icon>
                            <span>{{property?.address}}</span>
                        </p>
                    </div>
                    <div fxLayout="column" fxLayoutAlign.xs="center center" class="mx-3">
                        <h2 *ngIf="settings.currency == 'AED '" class="primary-color ">
                            <span *ngIf="property?.price">AED {{property?.price }} </span>
                            <!-- <span *ngIf="property?.priceDollar.rent">AED {{property?.priceDollar.rent }} /month</span> -->
                        </h2>
                        <h2 *ngIf="settings.currency == 'EUR'" class="primary-color price">
                            <span *ngIf="property?.priceEuro.sale">{{property?.priceEuro.sale | currency : 'EUR' : 'symbol' : '1.0'}}</span>
                            <span *ngIf="property?.priceEuro.rent">{{property?.priceEuro.rent | currency : 'EUR' : 'symbol' : '1.0'}} /month</span>
                        </h2>
                        <!-- <app-rating [ratingsCount]="property?.ratingsCount" [ratingsValue]="property?.ratingsValue"></app-rating> -->
                    </div>
                    <button *ngIf="!sidenavOpen" mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </mat-card>
                

                <mat-card class="mt-3" *ngIf="propertyGalleryImages.length > 0; else noData">
                    
                    <div class="main-carousel mb-3" >
                        <div *ngIf="property" class="control-icons">
                            <button mat-button [disabled]="onFavorites()" (click)="addToFavorites()" matTooltip="Add To Favorite">
                                <mat-icon class="">favorite_border</mat-icon>
                            </button>
                            <button mat-button [disabled]="onCompare()" (click)="addToCompare()" matTooltip="Add To Compare">
                                <mat-icon class="">compare_arrows</mat-icon>
                            </button>
                        </div>
                        <div id="main-carousel" class="swiper-container" [swiper]="config" (indexChange)="onIndexChange($event)">
                            <div class="swiper-wrapper" >
                                <div *ngFor="let img of propertyGalleryImages" class="swiper-slide" >
                                    <img [src]="img.image"  class="swiper-lazy">
                                    <!-- <div class="swiper-lazy-preloader"></div> -->
                                </div>
                            </div>
                            <button mat-mini-fab color="primary" class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
                            <button mat-mini-fab color="primary" class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>
                        </div>
                    </div>
                    <div class="small-carousel">
                        <div id="small-carousel" class="swiper-container" [swiper]="config2">
                            <div class="swiper-wrapper">
                                <div *ngFor="let img of propertyGalleryImages; let i=index;" class="swiper-slide" [ngClass]="'thumb-'+i" [class.active-thumb]="i == 0">
                                    <img [src]="img.image" class="swiper-lazy mw-100" (click)="selectImage(i)">
                                    <!-- <div class="swiper-lazy-preloader"></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
                


                <mat-card *ngIf="property" class="mt-3">
                    <mat-card-header fxLayoutAlign="center center">
                        <mat-card-title class="uppercase">Features</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-xs="33.3" class="">
                            <!-- <span>Property Type:</span>
                            <span>{{property.propertyType}}</span> -->
                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span class="mx-2">Property Type: {{property?.propertyType?.name}}</span>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="33.3">
                            <!-- <span>Property Status:</span> -->
                            <div fxLayout="row wrap" class="list">
                                <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                                <span   class="mx-2">Property Status: {{property?.status == 1 ? 'Active' : 'In-Active'}}</span>
                                <!-- <span *ngFor="let status of property.propertyStatus; let last=last" [class.list-item]="property.propertyStatus.length > 1" [class.last]="last">{{status}}</span> -->
                            </div>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="33.3">
                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span class="mx-2">City: {{property?.city}}</span>
                        </div>
                        <!-- <div fxFlex="100" fxFlex.gt-xs="33.3">

                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span class="mx-2">{{property.zipCode}}</span>
                        </div> -->
                        <!-- <div fxFlex="100" fxFlex.gt-xs="33.3">
                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span *ngFor="let neighborhood of property.neighborhood; let last=last" class="mx-1" [class.list-item]="property.neighborhood.length > 1" [class.last]="last">{{neighborhood}}</span>
                         </div> -->

                        <!-- <div fxFlex="100" fxFlex.gt-xs="33.3">

                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span class="mx-1" *ngFor="let street of property.street; let last=last" [class.list-item]="property.street.length > 1" [class.last]="last">{{street}}</span>

                        </div> -->
                        <!-- <div fxFlex="100" fxFlex.gt-xs="33.3">

                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span class="mx-2">{{property?.bedrooms}}</span>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="33.3">
                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span class="mx-2">{{property?.washrooms}}</span>
                        </div> -->
                        <!-- <div fxFlex="100" fxFlex.gt-xs="33.3">
                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span class="mx-2">{{property.garages}}</span>
                        </div> -->
                        <!-- <div fxFlex="100" fxFlex.gt-xs="33.3">
                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span class="mx-2">{{property.area.value}} {{property.area.unit}}</span>
                        </div> -->
                        <div fxFlex="100" fxFlex.gt-xs="33.3">
                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span class="mx-2">Parking: {{property?.park}}</span>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="33.3">
                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span class="mx-2">Bedrooms: {{property?.bedrooms}}</span>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="33.3">
                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span class="mx-2">Washrooms: {{property?.washrooms}}</span>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="33.3">
                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span class="mx-2">Date: {{property?.created_at | date}}</span>
                        </div>
                    </div>
                </mat-card>

                <!-- <mat-card class="mt-3">
                    <!-- <mat-card-header fxLayoutAlign="center center">
                        <mat-card-title class="uppercase">Features</mat-card-title>
                    </mat-card-header> -->
                    
                    <!-- <mat-card-content>
                        <div fxLayout="row wrap">
                        <!-- <div fxFlex="100" fxFlex.gt-xs="33.3">

                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span class="mx-2">{{property.zipCode}}</span>
                        </div> -->
                        <!-- <div fxFlex="100" fxFlex.gt-xs="33.3">
                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span *ngFor="let neighborhood of property.neighborhood; let last=last" class="mx-1" [class.list-item]="property.neighborhood.length > 1" [class.last]="last">{{neighborhood}}</span>
                         </div> -->

                        <!-- <div fxFlex="100" fxFlex.gt-xs="33.3">

                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span class="mx-1" *ngFor="let street of property.street; let last=last" [class.list-item]="property.street.length > 1" [class.last]="last">{{street}}</span>

                        </div> 
                        <div fxFlex="100" fxFlex.gt-xs="33.3">

                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span class="mx-2">Bedrooms: {{property?.bedrooms}}</span>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="33.3">
                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span class="mx-2">Washrooms: {{property?.washrooms}}</span>
                        </div>
                         <div fxFlex="100" fxFlex.gt-xs="33.3">
                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span class="mx-2">{{property.garages}}</span>
                        </div> -->
                        <!-- <div fxFlex="100" fxFlex.gt-xs="33.3">
                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span class="mx-2">{{property.area.value}} {{property.area.unit}}</span>
                        </div> 
                        <div fxFlex="100" fxFlex.gt-xs="33.3">
                            <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                            <span class="mx-2">Date: {{property?.created_at | date}}</span>
                        </div>
                    </div>
                    </mat-card-content> 
                </mat-card> -->

                <!-- <mat-card class="mt-3">
                    <mat-card-header fxLayoutAlign="center center">
                        <mat-card-title class="uppercase">Additional features</mat-card-title>
                    </mat-card-header>
                     <mat-card-content>
                        <div fxLayout="row wrap" class="details">
                            <div *ngFor="let feature of property?.additionalFeatures" fxFlex.gt-xs="33.3">
                                <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                                <span class="mx-2"> {{feature.value}}</span>
                            </div>
                        </div>
                    </mat-card-content> 
                </mat-card> -->

                <mat-card class="mt-3">
                    <mat-card-header fxLayoutAlign="center center">
                        <mat-card-title class="uppercase">Description</mat-card-title>
                        <!-- <mat-card-subtitle >{{property?.short_description}}</mat-card-subtitle> -->
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{property?.description}}</p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="mt-3">
                    <mat-card-header fxLayoutAlign="center center">
                        <mat-card-title class="uppercase">Location</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <agm-map [latitude]="lat" [longitude]="lng" [mapTypeControl]="true" [fullscreenControl]="true">
                            <agm-marker [latitude]="lat" [longitude]="lng" ></agm-marker>
                        </agm-map>
                    </mat-card-content>
                </mat-card>

                <mat-card class="mt-3">
                    <mat-card-header fxLayoutAlign="center center">
                        <mat-card-title class="uppercase">Plans</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-accordion>
                            <mat-expansion-panel >
                                <mat-expansion-panel-header>
                                    <mat-panel-title fxLayout="row" fxLayoutAlign="space-between">
                                        <div class="fw-500">{{property?.title}}</div>
                                        <div fxShow="false" fxShow.gt-xs="true" class="text-muted">
                                            <span class="mx-3">Rooms: <span class="fw-500">{{property?.bedrooms}}</span></span>
                                            <span>Baths: <span class="fw-500">{{property?.washrooms}}</span></span>
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <!-- <app-plans-carousel [plans]="property"></app-plans-carousel> -->
                                 <div class=" m-0" *ngIf="planImages; else noData"> 
                                    <div class="swiper-container" [swiper]="config">
                                        <div class="swiper-wrapper"> 
                                            <div class="swiper-slide" *ngFor="let item of planImages">
                                                <img [attr.data-src]="item.image" width="700" height="500" class="swiper-lazy">
                                            </div> 
                                        </div>  
                                        <div class="swiper-pagination white"></div>  
                                        <button mat-icon-button class="swiper-button-prev swipe-arrow"><mat-icon class="mat-icon-lg">keyboard_arrow_left</mat-icon></button>
                                        <button mat-icon-button class="swiper-button-next swipe-arrow"><mat-icon class="mat-icon-lg">keyboard_arrow_right</mat-icon></button>
                                    </div>
                                </div>  
                                <p class="mt-2">{{property?.description}}</p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-card-content>
                </mat-card>

                <!-- <mat-card *ngIf="property" class="mt-3">
                    <mat-card-header fxLayoutAlign="center center">
                        <mat-card-title class="uppercase">Videos</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <video controls class="mw-100">
                            <source [src]="property?.videos" type="video/mp4"> 
                            Your browser does not support the video tag.
                        </video>
                       <div class="mt-5">
                            <h3 class="text-center fw-500">{{property?.videos[1].name}}</h3>
                            <div [innerHtml]="embedVideo" class="videoWrapper"></div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="mt-3" fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <span>ID:<span class="fw-500 mx-2">{{property?.id}}</span></span>
                    <span>Published:<span class="fw-500 mx-2">{{property?.created_at | date:"dd MMMM, yyyy"}}</span></span>
                    <span>Last Update:<span class="fw-500 mx-2">{{property?.updated_at | date:"dd MMMM, yyyy"}}</span></span>
                    <span>Views:<span class="fw-500 mx-2">99 (dummy)</span></span>
                </mat-card> -->

                <!-- <app-comments *ngIf="property" [propertyId]="property.id"></app-comments> -->

            </mat-sidenav-content>
        </mat-sidenav-container>
           

    </div> 
    
</div>

<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">Related properties</h1>
            <app-properties-carousel [properties]="relatedProperties"></app-properties-carousel>
        </div>
    </div>
</div>

<div class="section mt-3" *ngIf="dataSource; else noData">
    <div class="px-3">
        <div class="theme-container ">
            <mat-card>
                <h1>Nearby Places</h1>
                <div class="table-wrapper">
                    <table mat-table [dataSource]="dataSource" *ngIf="dataSource" class="mat-elevation-z8 w-100">

                        <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef> No. </th>
                          <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="title">
                          <th mat-header-cell *matHeaderCellDef> Project Name </th>
                          <td mat-cell *matCellDef="let element"> {{element?.title}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="address">
                          <th mat-header-cell *matHeaderCellDef> Address </th>
                          <td mat-cell *matCellDef="let element"> {{element?.address}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="delivery_date">
                          <th mat-header-cell *matHeaderCellDef> Delivery Date </th>
                          <td mat-cell *matCellDef="let element"> {{element?.delivery_date | date}} </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      
                        <!-- Row shown when there is no matching data. -->
                        
                      </table>
                    <!-- <p *ngIf="dataSource?.length === 0" class="py-5 mb-0 text-center">No data available</p> -->

                    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->

                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
            </mat-card>

        </div>
    </div>
</div>



<app-browse-properties></app-browse-properties>
<ng-template #noData>
</ng-template>


<!-- <div class="container-header " fxLayoutAlign="start center">
    <mat-toolbar fxLayout.xs="column" class="footer" [ngClass]="{'mat-elevation-z5' : true, 'class-name' : isSticky}">
    <div class="theme-container" >
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="start start">
            <div>
                <sub class="uppercase" ngClass.xs="text-center mt-5">{{property?.title}}</sub> 
                <h2 *ngIf="settings.currency == 'AED '" class="primary-color ">
                    <span *ngIf="property?.priceDollar.sale">AED {{property?.priceDollar.sale }} </span>
                    <span *ngIf="property?.priceDollar.rent">AED {{property?.priceDollar.rent }} /month</span>
                </h2>
                <h2 *ngIf="settings.currency == 'EUR'" class="primary-color price">
                    <span *ngIf="property?.priceEuro.sale">{{property?.priceEuro.sale | currency : 'EUR' : 'symbol' : '1.0'}}</span>
                    <span *ngIf="property?.priceEuro.rent">{{property?.priceEuro.rent | currency : 'EUR' : 'symbol' : '1.0'}} /month</span>
                </h2>
            </div>
            <div fxLayout="column" fxLayoutAlign.xs="start start" >
                
                <div class="example-button-row">
                    <button mat-raised-button class="btn" fxShow="false" fxShow.gt-xs color="primary">  <mat-icon>phone</mat-icon> WhatsApp</button>
                    <a *ngIf="mobileView" mat-mini-fab color="primary" fxHide="false" fxHide.gt-xs>
                        <mat-icon>phone</mat-icon>
                    </a>
                    <button mat-raised-button class="btn" fxShow="false" fxShow.gt-xs color="warn"><mat-icon>add_ic_call</mat-icon> Call</button>
                    <a *ngIf="mobileView" mat-mini-fab color="primary" fxHide="false" fxHide.gt-xs>
                        <mat-icon>add_ic_call</mat-icon>
                    </a>
                  </div> 
                              
                </div>
        </div>
    </div>
    </mat-toolbar>
    
</div> -->

<!-- <app-get-in-touch></app-get-in-touch> -->