

.main-carousel{ 
    .swiper-slide{              
        text-align: center;
        padding-bottom: 66.25%;
        position: relative;
        overflow: hidden;  
        background: rgba(0, 0, 0, 0.04);         
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        max-width: 100%;
    } 
    .control-icons{ 
        position: absolute;
        z-index: 2; 
        top: 24px;
        right: 20px;
        button.mat-button{
            min-width: 36px;
            width: 36px;
            padding: 0;
            margin: 0 4px;
            background: rgba(255, 252, 252, 0.6);
            transition: 0.2s; 
            color:rgba(0, 0, 0, 0.87);
            &:disabled{
                color: rgba(0, 0, 0, 0.26); 
            }
            &:hover:enabled{
                background: rgba(255, 252, 252, 1);
            }             
        }
    }
}
.small-carousel{ 
    .swiper-slide{  
        img{
            display: block;
            opacity: 0.3;
        }
        &.active-thumb{
            img{ 
                border-width: 3px;
                border-style: solid;
                box-sizing: border-box;
                opacity: 1;
            }           
        } 
        .swiper-lazy-preloader{
            margin-top: 10px;
        }        
    } 
}
 
.widget{ 
    margin-bottom: 40px;
    .widget-title{
        margin: 0 -16px 16px;
        padding: 8px 16px;
        text-transform: uppercase;
        font-weight: 500;
    }
    &:first-child{  
        .widget-title{
            margin: -16px -16px 16px;
            padding: 8px 16px;
            text-transform: uppercase;
            font-weight: 500;
        }
    } 
} 


.inline-icon {
    vertical-align: middle;
    font-size: 18px !important;
 }

 .secondToolbar {
    position: fixed;
    background: #eee;
    top: 0;
    height: 0;
    // width: 100%; 
    opacity: 0;
    transition: opacity .25s ease-out, height .15s ease;
    cursor: default;
    // user-select: none;
    z-index: 999;
    

  }



  .footer{
    flex-shrink: 0;
    flex-grow: 0;
    background: #eee;
    padding: 3px 15px;
    opacity: 0;
    z-index: 999;
  }
 

  .container-header{
    margin-left: auto;
    margin-right: auto;

  }

  .btn {
    width: 130px !important;
    min-width: unset!important;
    align-content: center;
  }

  .example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

// @media only screen and (max-width: 667px) {
//     .class-name {
//         height: 1%;
//         opacity: 1;
//         transition: opacity .25s ease-out, height .15s ease;
//     }    
//   }

 
//   @media only screen and (min-width: 320px) {
//     .class-name {
//         height: 10%;
//         opacity: 1;
//         transition: opacity .25s ease-out, height .15s ease;    }
//   }

@media (min-width:320px)  { 
    .class-name{
        height: 5%;
        opacity: 1;
        transition: opacity .25s ease-out, height .15s ease;  
    }
}

@media (min-width:641px)  { 
    .class-name{
        height: 8%;
        opacity: 1;
        transition: opacity .25s ease-out, height .15s ease;  
    }
 }

 .aligned-with-icon{
    position: center;
    margin-top: 50px;
    // margin-left: 5px; /* optional */
}

.middle{
    vertical-align: middle;
}

.align-icon-center{
    display: inline-flex;
    vertical-align: middle;
    font-size: 20px;
}

.heading{
    font-size: large;
    font-weight: bold;
    word-wrap: break-word;
  }

  i.material-icons {
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    color: gray;
    font-size: 22px;
  }