<div class="section ">
    <div class="px-3">
        <div class="theme-container">
            <div class="content text-center word-wrap">
                <h1 >Why Next Level Real State?</h1>
                       <div fxLayout="row mt-4" >
                            <div fxLayout="column" fxLayoutAlign="start center" class="p-2 text-center" fxFlex="33.3%"   fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of whyUs">
                                <mat-icon color="primary" class="mat-icon-xlg text-center">{{item.icon}}</mat-icon>
                                <h2 class="capitalize fw-600 my-2">{{item.title}}</h2>
                                <p >{{item.description}}</p>
                            </div>
                       </div>         
                </div>
        </div>
    </div>   
  </div> 
