<app-header-image [backgroundImage]="'assets/images/others/about.jpg'" 
                  [bgImageAnimate]="false" 
                  [contentOffsetToTop]="true"                
                  [title]="'About Us'"
                  [desc]="'We help you for find your house key'">
</app-header-image>


<div class="theme-container">
    <mat-card class="main-content-header">
        
        <div class="section pt-2">
            <div class="px-3">
                <div class="theme-container">
                    <!-- <h1 class="section-title">our story</h1>

                    <p class="px-3"></p> -->
                    <div fxLayout="row ">

                        <div   class="p-3"> 
                             <h1>{{wpPosts?.title?.rendered}}</h1>                             
                            <div [innerHTML]="wpPosts?.content?.rendered"></div>

                        </div>

                        

                    </div>
            
                    
                </div>
            </div>   
        </div> 

    </mat-card> 
 
</div>

<!-- <app-mission></app-mission> -->

<!-- <app-our-services></app-our-services> -->

<!-- <app-testimonials></app-testimonials>   -->

<!-- <app-our-agents></app-our-agents> -->
      
<!-- <app-clients></app-clients> -->

<!-- <app-get-in-touch></app-get-in-touch> -->