<app-header-image *ngIf="project" [backgroundImage]=" project?.image " [bgImageAnimate]="true" [contentOffsetToTop]="true" [title]="project.title" [desc]="project.project_type_id" [isHomePage]="false" [fullscreen]="true">
</app-header-image>
<div class="px-3">

    <div class="theme-container">

        <app-key-card-large *ngIf="project?.paymentPlans.length > 0; else noData"  [plan]="project?.paymentPlans"></app-key-card-large>

        <mat-sidenav-container class="single-property mt-3">
            <mat-sidenav-content ngClass.gt-sm="distance">
                <mat-card fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
                    <div >
                        <h2 class="uppercase" ngClass.xs="text-center">{{project?.title}}</h2>
                        <p fxLayout="row" fxLayoutAlign.xs="center" class="address mb-0">
                            <mat-icon class="text-muted">location_on</mat-icon>
                            <span>{{project?.address}}</span>
                        </p>
                    </div>
                    <div fxLayout="column" fxLayoutAlign.xs="center center" class="mx-3">
                        <h2 *ngIf="settings.currency == 'AED '" class="primary-color ">
                            <!-- <span *ngIf="property?.priceDollar.sale">AED {{property?.priceDollar.sale}}</span> -->
                            <!-- <span *ngIf="property?.priceDollar.rent">AED {{property?.priceDollar.rent }} /month</span> -->
                        </h2>
                    </div>
                    <button *ngIf="!sidenavOpen" mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </mat-card>


                <!-- <mat-card class="mt-3 row wrap">

                    <mat-list fxLayout="100" class="">
                        <app-keycard-square *ngFor="let item of [1,2,3]" [item]="item"></app-keycard-square>
                    </mat-list>


                </mat-card> -->

                <mat-card class="mt-3">
                    <mat-card-header fxLayoutAlign="center center">
                        <mat-card-title class="uppercase">Features</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div fxLayout="row wrap">
                            <div fxFlex="100" fxFlex.gt-xs="33.3">
                                <span class="mx-2">Floor: {{project?.floor}}</span>
                            </div>
                            <!-- <div fxFlex="100" fxFlex.gt-xs="33.3">
                                <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                                <span class="mx-2">Washrooms: {{property?.washrooms}}</span>
                            </div> -->
                            <!-- <div fxFlex="100" fxFlex.gt-xs="33.3">
                                <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                                <span class="mx-2">{{property.garages}}</span>
                            </div> -->
                            <!-- <div fxFlex="100" fxFlex.gt-xs="33.3">
                                <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                                <span class="mx-2">{{property.area.value}} {{property.area.unit}}</span>
                            </div> -->
                            <!-- <div fxFlex="100" fxFlex.gt-xs="33.3">
                                <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                                <span class="mx-2">Date: {{property?.created_at | date}}</span>
                            </div> -->
                        </div>
                    </mat-card-content>
                </mat-card>

                <!-- <mat-card class="mt-3">
                    <mat-card-header fxLayoutAlign="center center">
                        <mat-card-title class="uppercase">Additional features</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div fxLayout="row wrap" class="details">
                            <div *ngFor="let feature of property?.additionalFeatures" fxFlex.gt-xs="33.3" class="item">
                                <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                                <span class="mx-2">{{feature.value}}</span>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card> -->

                <mat-card class="mt-3">
                    <mat-card-header fxLayoutAlign="center center">
                        <mat-card-title class="uppercase">Description</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{project?.description}}</p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="mt-3">
                    <mat-card-header fxLayoutAlign="center center">
                        <mat-card-title class="uppercase">Location</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <agm-map [latitude]="lat" [longitude]="lng" [mapTypeControl]="true" [fullscreenControl]="true">
                            <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="false"></agm-marker>
                        </agm-map>
                    </mat-card-content>
                </mat-card>

                <mat-card class="mt-3">
                    <mat-card-header fxLayoutAlign="center center">
                        <mat-card-title class="uppercase">Plans</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-accordion>
                            <mat-expansion-panel >
                                <mat-expansion-panel-header>
                                    <mat-panel-title fxLayout="row" fxLayoutAlign="space-between">
                                        <div class="fw-500">{{project?.title}}</div>
                                        <div fxShow="false" fxShow.gt-xs="true" class="text-muted">
                                            <!-- <span>Area: <span class="fw-500">{{project?.area.value}}
                                                    {{plan.area.unit}}</span></span> -->
                                            <!-- <span class="mx-3">Rooms: <span class="fw-500">{{project?.rooms}}</span></span> -->
                                            <!-- <span>Baths: <span class="fw-500">{{plan.baths}}</span></span> -->
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div  class=" m-0" *ngIf="planImages.length > 0; else noData"> 
                                    <div class="swiper-container" [swiper]="config">
                                        <div class="swiper-wrapper"> 
                                            <div class="swiper-slide" *ngFor="let item of planImages">
                                                <img [src]="item.image" height="500" class="swiper-lazy">
                                            </div> 
                                        </div>  
                                        <div class="swiper-pagination white"></div>  
                                        <button mat-icon-button class="swiper-button-prev swipe-arrow"><mat-icon class="mat-icon-lg">keyboard_arrow_left</mat-icon></button>
                                        <button mat-icon-button class="swiper-button-next swipe-arrow"><mat-icon class="mat-icon-lg">keyboard_arrow_right</mat-icon></button>
                                    </div>
                                </div> 
                                <p class="mt-2">{{project?.description}}</p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-card-content>
                </mat-card>

                <!-- <mat-card class="mt-3" fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <span>ID:<span class="fw-500 mx-2">{{property?.id}}</span></span>
                    <span>Published:<span class="fw-500 mx-2">{{property?.published | date:"dd MMMM,
                            yyyy"}}</span></span>
                    <span>Last Update:<span class="fw-500 mx-2">{{property?.lastUpdate | date:"dd MMMM,
                            yyyy"}}</span></span>
                    <span>Views:<span class="fw-500 mx-2">{{property?.views}}</span></span>
                </mat-card> -->

                <!-- <app-comments *ngIf="property" [propertyId]="property.id"></app-comments> -->

            </mat-sidenav-content>
        </mat-sidenav-container>

    </div>
</div>

<div class="section mt-3" *ngIf="relatedProperties.length > 0; else noData">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">Related properties</h1>
            <app-properties-carousel [properties]="relatedProperties"></app-properties-carousel>
        </div>
    </div>
</div>

<div class="section mt-3" *ngIf="relatedProjects.length > 0; else noData">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">Related Projects</h1>
            <app-projects-carousel [properties]="relatedProjects"></app-projects-carousel>
        </div>
    </div>
</div>

<app-browse-properties></app-browse-properties>
<ng-template #noData>
</ng-template>


