
<app-header-image *ngIf="settings.header == 'image'" [backgroundImage]="'assets/images/others/homepage.jpg'" [bgImageAnimate]="true" [contentOffsetToTop]="true" [title]="'Find your house key'" [desc]="'Leading Real Estate Company'" [isHomePage]="true"
    [fullscreen]="false">
</app-header-image>

<app-header-carousel *ngIf="settings.header == 'carousel'" [slides]="slides" [contentOffsetToTop]="true" [fullscreen]="false">
</app-header-carousel>

<app-header-map *ngIf="settings.header == 'map'" [locations]="locations" [contentOffsetToTop]="true" [fullscreen]="false">
</app-header-map>

<app-header-video *ngIf="settings.header == 'video'" [backgroundVideo]="'http://themeseason.com/data/videos/video-1.mp4'" [contentOffsetToTop]="true" [title]="'Find your house key'" [desc]="'Leading Real Estate Company'" [isHomePage]="true" [fullscreen]="true">
</app-header-video>

<div class="px-3">
    <div class="theme-container">

        <mat-card class="main-content-header">

            <app-properties-search [variant]="settings.searchPanelVariant" [searchOnBtnClick]="settings.searchOnBtnClick" [removedSearchField]="removedSearchField" (onSearchChange)="searchChanged($event)" (onSearchClick)="searchClicked($event)">
            </app-properties-search>

        </mat-card>

    </div>
    <div class="section mt-3">
        <div class="px-3">
            <div class="theme-container">
                <app-areas-carousel [areas]="areas"></app-areas-carousel>
            </div>
        </div>   
      </div> 
    <!-- <app-featured-properties  -properties [properties]="properties"></app-featured-properties> -->
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">       
        <button mat-raised-button color="primary" class="round-btn" routerLink="/areas" >View All Areas &nbsp; <mat-icon>arrow_right_alt
        </mat-icon></button>
        
      </div>    
    <app-offplan-home [projects]="offPlanProjects" [count]="offPlanCounts"></app-offplan-home>
    <app-blog></app-blog>
    <app-why-us></app-why-us>
    <app-browse-properties></app-browse-properties>


    <!-- <div class="theme-container">
        <div fxLayout="row wrap" class="properties-wrapper">
            <div fxFlex="100" fxLayoutAlign="start start" class="p-2">
                <mat-chip-list [ngClass]="(settings.rtl) ? 'ml-2' : 'mr-2'">
                    <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
                        {{ pagination?.total }} found
                    </mat-chip>
                </mat-chip-list>
                <app-properties-search-results-filters [searchFields]="searchFields" (onRemoveSearchField)="removeSearchField($event)">
                </app-properties-search-results-filters>
            </div>
            <div fxFlex="100" class="p-2">
                <h1>Featured Projects</h1>
                <app-properties-toolbar [isHomePage]="true" (onChangeCount)="changeCount($event)" (onChangeSorting)="changeSorting($event)" (onChangeViewType)="changeViewType($event)"></app-properties-toolbar>
            </div>
            <div *ngFor="let property of properties" [fxFlex]="(viewType=='grid') ? viewCol : 100" class="item">
                <app-project-item [property]="property" [viewType]="viewType" [viewColChanged]="viewCol"></app-project-item>
            </div>
            <div *ngIf="properties?.length" fxFlex="100" fxLayoutAlign="center center" class="p-2 mt-2">
                <app-load-more [step]="2"></app-load-more>
            </div>

            <div *ngIf="properties?.length == 0" fxFlex="100" fxLayoutAlign="center center" [style.min-height.px]="200">
                <mat-spinner *ngIf="!message"></mat-spinner>
                <mat-chip-list *ngIf="message">
                    <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
                        {{message}}
                    </mat-chip>
                </mat-chip-list>
            </div>

        </div>


    </div> -->
</div>



<!-- <app-mission></app-mission>

<app-our-services></app-our-services>

<app-testimonials></app-testimonials>

<app-hot-offer-today [propertyId]="4"></app-hot-offer-today>


<app-our-agents></app-our-agents>

<app-clients></app-clients>

<app-get-in-touch></app-get-in-touch> -->
