.center {
    display: flex;
    height: auto;
    background-color: #ff1124;
    justify-content: center;
    align-items: center;
  }

  .round-btn{
    border-radius: 20px !important;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 