<mat-list-item class="h-100 w-100">
    <mat-icon class="mat-icon mx-2" color="primary">list_alt</mat-icon>
    <p matLine fxLayoutAlign="start center">
        <span class="fw-500">Placeholder Heading</span>
    </p>
    <p matLine class="text">Lorem ipsum dolor </p>
</mat-list-item>