<ng-container *ngFor="let menuItem of dataService.menus">

  <a *ngIf=" menuItem.hasSubMenu == 0 && menuItem.parentId == 0" mat-button [routerLink]="[menuItem.target]" 
    routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">
    <span>{{ menuItem.title  }}</span>
  </a>
  
  <a *ngIf="menuItem.hasSubMenu != 0  && menuItem.parentId == 0" mat-button [matMenuTriggerFor]="menu" (click)="renderSubmenu(menuItem.id)"> 
    <span>{{ menuItem.title  }}</span><mat-icon class="caret">arrow_drop_down</mat-icon> 
  </a>


  <mat-menu #menu="matMenu" class="horizontal-sub-menu">
    <div *ngFor="let menuItem of dataService.subMenus">
      <a *ngIf="menuItem.hasSubMenu == 0 && menuItem.parentId != 0" mat-menu-item (click)="route(menuItem.url)"> 
        <span >{{ menuItem.title  }}</span> 
      </a> 
    </div>
  </mat-menu>
</ng-container>