<app-header-image [backgroundImage]="'assets/images/carousel/slide-3.jpg'" [bgImageAnimate]="false" [contentOffsetToTop]="false" [desc]="'“Home is where one starts from...” –T.S. Eliot'" [contentMinHeight]="200">
</app-header-image>
<div class="px-3">
    <div class="theme-container">
        <h1 class="section-title text-center mt-2"> All Areas in Dubai</h1>
        <mat-sidenav-container class="all-properties mt-3">


            <mat-sidenav-content ngClass.gt-sm="distance">

                <div fxLayout="row wrap" class="properties-wrapper mt-0">

                  

                    <div *ngFor="let item of areas"  [fxFlex]="(viewType=='grid') ? viewCol : 100" class="item" (click)="nav.push('/areas/'+ item.id)">
                        <app-area-item [area]="item" [viewType]="viewType" [viewColChanged]="viewCol" [fullWidthPage]="false"></app-area-item>
                    </div>

                    <div *ngIf="areas?.length == 0" fxFlex="100" fxLayoutAlign="center center" [style.min-height.px]="200">
                        <mat-spinner *ngIf="!message"></mat-spinner>
                        <mat-chip-list *ngIf="message">
                            <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
                                {{message}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>


                </div>



            </mat-sidenav-content>
        </mat-sidenav-container>

    </div>

</div>



<!-- <app-clients></app-clients> -->

<!-- <app-get-in-touch></app-get-in-touch> -->