<div fxLayout="row wrap">
    <div *ngFor="let item of items" fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">
        <mat-card class="pricing-card text-center border-accent p-0 h-100">
            <h2 class="pricing-title my-3">{{item.name}}</h2>
            <div class="bg-accent pricing-header p-3" fxLayout="column" fxLayoutAlign="center center">   
                <h1>AED{{item.price}}<small> /yr</small></h1>
                <p class="desc mb-2">{{item.desc}}</p>
            </div>
            <div class="p-3">
                <p class="py-2"><span class="mx-2 fw-500">{{item.properties}}</span>Properties</p>
                <p class="py-2"><span class="mx-2 fw-500">{{item.agentProfiles}}</span>Agent Profile<span *ngIf="item.agentProfiles != '1'">s</span></p>
                <p class="py-2" [class.del]="item.agencyProfiles == '0'" [class.text-muted]="item.agencyProfiles == '0'">
                  <span *ngIf="item.agencyProfiles != '0'" class="mx-2 fw-500">{{item.agencyProfiles}}</span>Agency Profile<span *ngIf="item.agencyProfiles != '1'">s</span>
                </p>
                <p class="py-2" [class.del]="item.featuredProperties == '0'" [class.text-muted]="item.featuredProperties == '0'">
                  <span *ngIf="item.featuredProperties != '0'" class="mx-2 fw-500">{{item.featuredProperties}}</span>Featured Properties
                </p> 
                <button mat-raised-button color="primary" class="mt-3 uppercase">Buy now</button>
            </div>
        </mat-card>
    </div>
</div>
