<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">
            <!-- <h1 class="section-title">Featured properties</h1> -->
            <div fxLayoutAlign="center center">
                <h1 >Off Plan Projects Construction Updates
                </h1>
            </div>
            
            <div fxLayoutAlign="center center">
              <div #animatedDigit class="counter">
                <span>{{count}}</span>
              </div>
                <!-- <h2 class="counter"> 299</h2> -->
                <p class="mt-3"><span class="font-size">New Projects <br></span><span class="font-size">in Dubai</span></p>
                
            </div>
            <div fxLayoutAlign="center center" fxLayout="column">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Search Projects</mat-label>
                    <input type="text" matInput (keyup)="applyFilter($event)" #input>
                    <mat-icon matSuffix color="warn">search</mat-icon>
                  </mat-form-field>

                  <table mat-table [dataSource]="dataSource" *ngIf="dataSource && showTable" class="mat-elevation-z8 w-100">

                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="title">
                      <th mat-header-cell *matHeaderCellDef> Project Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="address">
                      <th mat-header-cell *matHeaderCellDef> Address </th>
                      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="delivery_date">
                      <th mat-header-cell *matHeaderCellDef> Delivery Date </th>
                      <td mat-cell *matCellDef="let element"> {{element.delivery_date}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                  </table>
            </div>
            
            
  
        </div>
    </div>   
  </div> 