
.counter {
    margin-top: 0;
    font-size: 4rem;
    text-align: right;
    font-weight: 500;
    color:#487e8b ;
    margin-right: 10px;
}

.font-size{
    font-size: 20px;
    font-weight: 550;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 50%;
  }

  .animated-digit {
    display: inline-flex;
    height: 60px;
    width: 60px;
    text-align: center;
    padding: 24px;
    margin-top:1em;
    justify-content:center;
    align-items: center;
    font-size:32pt;
  }

