<div class="header-carousel" [class.offset-bottom]="contentOffsetToTop" [class.fullscreen]="fullscreen" [ngClass]="'toolbar-'+settings.toolbar">
    <div *ngIf="slides.length > 0" class="swiper-container h-100" [swiper]="config" (indexChange)="onIndexChange($event)">
        <div class="swiper-wrapper h-100">
            <div *ngFor="let slide of slides;" class="swiper-slide">
                <div [attr.data-background]="slide.image" class="slide-item swiper-lazy">
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>
        </div>
        <button mat-mini-fab color="primary" class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <button mat-mini-fab color="primary" class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>

        <div fxLayout="column" fxLayoutAlign="center center" class="slide-info">
            <mat-card class="p-4" *ngIf="currentSlide">
                <h1 class="slide-title">{{currentSlide.heading}}</h1>
                <p class="location" fxLayout="row" fxLayoutAlign="center center">
                    <!-- <mat-icon color="primary" ngClass.gt-sm="mat-icon-lg">location_on</mat-icon>
                    <span class="px-1"></span> -->
                    <mat-icon color="primary" class="v-align-middle">location_on</mat-icon>
                    <span class="v-align-middle">{{currentSlide.address}}</span>
                </p>
                <!-- <button mat-raised-button color="primary" class="">                        
                    <span *ngIf="settings.currency == 'AED '" class="">
                        <span *ngIf="currentSlide.priceDollar.sale">AED {{currentSlide.priceDollar.sale }}</span>
                        <span *ngIf="currentSlide.priceDollar.rent">AED {{currentSlide.priceDollar.rent }} /month</span>
                    </span>
                    <span *ngIf="settings.currency == 'EUR'" class="price">
                        <span *ngIf="currentSlide.priceEuro.sale">{{currentSlide.priceEuro.sale | currency : 'EUR' : 'symbol' : '1.0'}}</span>
                        <span *ngIf="currentSlide.priceEuro.rent">{{currentSlide.priceEuro.rent | currency : 'EUR' : 'symbol' : '1.0'}} /month</span>
                    </span>
                </button> -->
            </mat-card>
        </div>
    </div>
</div>