<mat-card class="property-item p-0" [ngClass]="[viewType + '-item', 'column-'+column]" [class.full-width-page]="fullWidthPage" fxLayout="row wrap">  
  
    <div fxFlex="100" fxShrink="3" [fxFlex.gt-sm]="(viewType=='list') ? 40 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="thumbnail-section">

        
       
        <div *ngIf="builder.gallery.length == 1" class="mat-card-image w-100 m-0">
            <img [src]="builder.gallery[0].big">
        </div>
       

    </div>
    

</mat-card>