<app-header-image *ngIf="area" [backgroundImage]=" area?.image " [bgImageAnimate]="true" [contentOffsetToTop]="true" [title]="area?.name"  [isHomePage]="false" [fullscreen]="true">
</app-header-image>


<div class="section mt-3" *ngIf="relatedProjects.length > 0; else none">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title"> <mat-icon name="person"></mat-icon> Projects in  {{area?.name}}</h1>
                <app-projects-carousel [properties]="relatedProjects"></app-projects-carousel>
        </div>
    </div>
</div>

<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">
            <mat-card>
                <h1 class="section-title"> {{area?.name}} Overview</h1>
                <mat-card-content>
                    <p>
                        {{area.description}}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<app-browse-properties></app-browse-properties>
<ng-template #none>
    <div class="section mt-3">
        <div class="px-3">
            <div class="theme-container">
                <h3   h3 class="section-title">  There are no projects in this area currently</h3>
            </div>
        </div>
    </div>
    

</ng-template>



