
<div fxLayout="row wrap" >
    <div fxLayout="column" fxLayoutAlign="start center" class="p-2 " fxFlex="25%"   fxFlex.xs="100%" fxFlex.sm="25%" *ngFor="let item of plan">
        <mat-card class="card_style" >

            <span class="card_icon">
                <mat-icon>power_settings_new</mat-icon>
            </span>
        
            <mat-card-title class="card_heading">
                {{item?.subtitle}}
            </mat-card-title>
            
            <h1 class="card_Subheading">
                {{item?.title}} 
            </h1>
        
        </mat-card>
    </div>
</div>   
