.card_style {
    border-radius: 15px !important;
    box-shadow: 0 0 12px 1px #477d8a28 !important;
    border: 1px solid #e9e6e3 !important;
    width: 275px;
    transition: all 0.1s ease-out;
    height: 227px;
}

.card_style:hover {
    background-color: #d73d2c9d;
}

.card_icon {
    .mat-icon {
        width: 100%;
        text-align: right;
        color: #737373 !important;
        font-size: 50px;
    }
}

.card_heading {
    font-size: 4.8rem !important;
    line-height: 6.2rem !important;
    font-weight: 500 !important;
}

.card_Subheading {
    font-size: 1.3rem;
    font-weight: 400;
}
