 <mat-card class="property-item p-0 card-height" [ngClass]="[viewType + '-item', 'column-'+column]" [class.full-width-page]="fullWidthPage" fxLayout="row wrap" [routerLink]="['/properties/' + property.id]">  
    
    <div fxFlex="100" [fxFlex.gt-sm]="(viewType=='list') ? 60 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="p-2" >

        <div fxLayout="row" >
            <div *ngIf="settings.currency == 'AED '" class="font-weight-normal">
                <h3 class="card-heading">
                    <p *ngIf="property.price">Average Price <b>{{property.price }}</b> <sup> AED</sup></p> 
                    <!-- <p *ngIf="property.priceDollar.rent">Average Price <b>{{property.priceDollar.rent }}</b> <sup> AED/month</sup></p>  -->
                </h3>
                    
            </div>
        </div>        
        
    </div> 
    <div fxFlex="100" fxShrink="3" [fxFlex.gt-sm]="(viewType=='list') ? 40 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="thumbnail-section">
        <!-- <div *ngIf="property.image !== ''" class="mat-card-image w-100 m-0">
            <img [src]="property.image" class="swiper-lazy">
        </div>   -->
        <div  class="mat-card-image w-100 m-0" *ngIf="galleryImages.length > 0; else singleImage">
            <div class="swiper-container" [swiper]="config">
                <div class="swiper-wrapper"> 
                    <div class="swiper-slide" *ngFor="let item of galleryImages">
                        <img class="" [src]="item.image" class="swiper-lazy">
                    </div> 
                </div>  
                <div class="swiper-pagination white"></div>  
                <button mat-icon-button class="swiper-button-prev swipe-arrow"><mat-icon class="mat-icon-lg">keyboard_arrow_left</mat-icon></button>
                <button mat-icon-button class="swiper-button-next swipe-arrow"><mat-icon class="mat-icon-lg">keyboard_arrow_right</mat-icon></button>
            </div>
        </div> 
        <ng-template #singleImage>
            <div  class="mat-card-image w-100 m-0">
                <div class="swiper-container" >
                    <div class="swiper-wrapper"> 
                        <div class="swiper-slide" >
                            <img class="" [src]="property.image" class="swiper-lazy">
                        </div> 
                    </div>  
                    <div class="swiper-pagination white"></div>  
                </div>
            </div> 
        </ng-template>
        

       

    </div>
    <div fxFlex="100" [fxFlex.gt-sm]="(viewType=='list') ? 60 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="p-2">
        <div fxLayout="row" fxLayoutAlign="start start" class="h-100 ">
            <div fxLayout="column" fxFlex="95%" fxLayoutAlign="start start">
                <mat-card-content >
                    <h6 class="title no-wrap"><a class="no-wrap" [routerLink]="['/properties', property.id]">{{property.title}}</a></h6>
                    <p class="address no-wrap">
                        <span>{{property.address ? property.address : '-'}}</span>
                    </p>
    
            </mat-card-content>
               
            </div>  
            <mat-icon  class="circle-icon mt-5" color="warn">keyboard_arrow_right
            </mat-icon>

        </div>
       
        
    </div> 

</mat-card> 