<div class="section ">
    <div class="px-3">
        <div class="theme-container">
            <div class="content ">
                <h1 >Blogs</h1>
                       <div fxLayout="row mt-4" >
                            <div fxLayout="column" fxLayoutAlign="start center" fxFlex="50"   fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of blogs">
                                <mat-card class="example-card mt-4 mr-5" [routerLink]="['/blogs/list/' + item.ID]">
                                    <h3>{{item.title}}</h3> 
                                    <mat-card-content>
                                    <div fxLayout="row" class="container">
                                        <mat-icon class="circle-icon" color="warn">keyboard_arrow_right</mat-icon> 
                                        <span >  By 
                                            <span color="primary "> <b class="upper-case">{{item.company}}</b> </span> 
                                            on {{getDay(item.created_at)}}.   </span>
                                    </div>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <div fxLayout="row" fxLayoutAlign="start start">     
                                            <div fxFlex="90%">
                                                <button  mat-raised-button color="primary" class="round-btn"  >Read more&nbsp; <mat-icon>arrow_right_alt
                                                </mat-icon></button>
                                            </div>  
                                            <div fxFlex=10% class="container mt-2">
                                                <mat-icon class="align-icon-text" >visibility
                                                </mat-icon>
                                                <span class="mt-1">  {{item.views}} </span>
                                            </div>
                                        </div>   
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                </div>         
            </div>
        </div>
    </div>   
</div> 
