


.example-card {
    width:90%;
  }
  
  @media (max-width: 600px) {
      .example-card {
        width:17rem;
      }
    }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  
  .container {
      max-width: 600px;
      &__image {
        width: 250px;
        margin: 30px 30px 30px 0;
        float: left;
      }
      &__text {
        display: inline;
      }
    }
  
    .round-btn{
      border-radius: 20px !important;
      margin: 2px;
      display: flex;
      justify-content: center;
      font-size: small;
   }
  
   .align-icon-text{
      display: inline-flex;
      vertical-align: middle;
   }
  
   .bg-light{
    
   }
  
  .upper-case{
    text-transform: capitalize;
  }
    